# Entorno virtual
venv/

# Cachés de Python
__pycache__/
*.pyc

# Datos de scraping (Fase 7) - pueden pesar mucho, no van al repo
datos/*.txt
datos/*.csv
datos/*.json

# Pesos de modelos entrenados (pueden pesar mucho)
*.pt
*.pth

# Variables de entorno (si en algun momento hace falta)
.env